<div class="center hero-unit">
  <h1>Welcome</h1>

  <h2><b>
    This is the home page of Wep Application.</b>
  </h2>

  <%= link_to "Sign up now!", signup_path, :class => "btn btn-large btn-default" %>
</div>


